.select {
  height: 90vh;
  display: flex;
  justify-content: center;
  .selector {
    display: flex;
    background: white;
    height: 80vh;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18vh;
      &.p1 {
        background: lightcoral;
      }
      &.p2 {
        background-color: lightblue;
      }
    }
  }
}
.select-header {
  display: flex;
  height: 20vh;
  align-items: center;
  // justify-content: center;
  font-size: 8vh;
  flex-direction: column;
  &.p1 {
    background-color: lightcoral;
    color: black;
  }
  &.p2 {
    background-color: lightblue;
    color: black;
  }
  p {
    margin: 0;
  }
  .start {
    margin-top: 1vw;
    width: 20vw;
    background: teal;
    height: 3vw;
    color: white;
    font-size: 2vw;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.game {
  height: 90vh;
  display: flex;
  justify-content: center;
  .field {
    display: flex;
    align-self: center;
    background: red;
    height: 60vh;
    width: 60vh;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    .box {
      background: white;
      height: 30%;
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15vh;
    }
  }
}
.header {
  display: flex;
  background: teal;
  height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: 8vh;
  color: white;
  &.p1 {
    background-color: lightcoral;
    color: black;
  }
  &.p2 {
    background-color: lightblue;
    color: black;
  }
  .reset {
    position: absolute;
    font-size: 8vh;
    top: 12vh;
    width: 60vh;
    background-color: teal;
    color: white;
  }
  .wonon {
    .won {
      background-color: teal;
      height: 10vh;
    }
    z-index: 4;
    position: absolute;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;
    font-size: 8vh;
    top: 25vh;
    width: 60vh;
    height: 60vh;
    color: white;
  }
  .backdrop {
    z-index: 3;
    position: absolute;
    top: 25vh;
    width: 100vw;
    height: 60vh;
    opacity: 50%;
    background-color: teal;
  }
}
